@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #e8ebf1;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 37px;
  padding-bottom: 47px;
}

.header__logo {
  font-family: "Lato", sans-serif;
  -ms-flex-item-align: center;
      align-self: center;
}

.header__logo span {
  font-weight: 400;
  color: #2aacc8;
}

.header__logo a {
  font-size: 50px;
  font-weight: 900;
  line-height: 20px;
  color: black;
}

.header__menu {
  margin-right: 20px;
}

.header__list li {
  display: inline-block;
}

.header__list > li + li {
  margin-left: 50px;
}

.header__list > li {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
}

.header__list > li:nth-child(3) {
  margin-left: 38px;
}

.header__list > li:nth-child(4) {
  margin-left: 23px;
}

.header__list > li:nth-child(5) {
  margin-left: 23px;
}

.header__list li > a {
  color: black;
}

.header__list li:hover > a {
  color: #2aacc8;
}

.header__drop-down:hover {
  background-color: white;
  border-top: 5px solid #2aacc8;
}

.header__drop-down {
  padding: 11px 27px 18px 11px;
  border-top: 5px solid transparent;
}

.drop-down {
  position: relative;
}

.drop-down__list {
  position: absolute;
  top: 35px;
  left: -1px;
  min-width: 200px;
  background-color: white;
  padding-top: 12px;
  padding-left: 11px;
  text-transform: none;
  border-right: 1px solid #e8ebf1;
  border-left: 1px solid #e8ebf1;
  border-bottom: 5px solid #2aacc8;
  z-index: 1;
}

.drop-down__list li {
  width: 100%;
  font-weight: 400;
  font-size: 13px;
  line-height: 36px;
  padding-top: 13px;
  padding-left: 11px;
  padding-bottom: 13px;
  border-bottom: 1px solid #e7e7e7;
}

.drop-down__list li:last-child {
  border-bottom: none;
}

.drop-down__list {
  display: none;
}

.drop-down > a::after {
  content: "";
  position: absolute;
  background: url("../img/Icons/down-arrow.png") 0 0 no-repeat;
  width: 7px;
  height: 5px;
  top: 15px;
  right: 12px;
}

.drop-down:hover .drop-down__list {
  display: block;
}

.slider {
  background-color: #81e4ed;
  border-top: 1px solid #6ec2ca;
}

.slider__inner {
  padding: 20px 0px 40px;
}

.slider__items {
  position: relative;
}

.slider__items img {
  width: 100%;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-dots {
  position: absolute;
  bottom: -26px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slick-dots li {
  display: inline-block;
}

.slick-dots li + li {
  margin-left: 18px;
}

.slick-dots li.slick-active button {
  background-color: #fff;
}

.slick-dots li button {
  font-size: 0;
  background-color: #71a3a7;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.columns {
  background: #e8ebf1;
}

.columns__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0px 52px;
}

.columns__item {
  line-height: 20px;
  font-size: 13px;
  max-width: 225px;
}

.columns__title {
  font-size: 15px;
  text-transform: uppercase;
  padding-left: 60px;
  position: relative;
  margin-bottom: 37px;
  font-weight: bold;
}

.columns__icon {
  position: absolute;
  left: 0;
  top: -50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2aacc8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.columns__text {
  color: #363636;
  margin-bottom: 25px;
}

.columns__link a {
  font-weight: 600;
  color: #2aacc8;
  position: relative;
  padding-left: 15px;
}

.columns__link a::before {
  content: "";
  background: url("../img/Icons/arrow-right.svg") 0 0 no-repeat;
  width: 5px;
  height: 7px;
  position: absolute;
  top: 4px;
  left: 0;
}

.sliderworks {
  padding: 30px 0px 40px;
}

.sliderworks__title {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  padding-left: 40px;
}

.sliderworks__title::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 24px;
  background: url("../img/sliderWorks/iconSlider/sharp.svg") no-repeat;
  left: 0;
  top: -50%;
}

.sliderworks__items {
  padding-top: 20px;
  border-top: 1px solid #dfe1e5;
  position: relative;
  text-align: center;
}

.sliderworks__items > .slick-list {
  margin: 0 -15px;
}

.sliderworks__box {
  display: inline-block;
  position: relative;
}

.sliderworks__box:hover .sliderworks__links {
  height: 80px;
}

.sliderworks__links {
  background-color: #2aacc8;
  height: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.sliderworks__glass {
  margin: 0 15px;
}

.sliderworks__link {
  margin: 0 15px;
}

.slick-arrow {
  position: absolute;
  top: -35px;
  background: #81e4ed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-next {
  right: 0;
}

.slick-prev {
  right: 31px;
}

.comments-client {
  border-bottom: 1px solid #dfe1e5;
  padding-bottom: 40px;
}

.comments-client__inner {
  padding: 40px 0px 60px;
  border-top: 1px solid #dfe1e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comments-client__comments {
  max-width: 420px;
  font-size: 14px;
  line-height: 24px;
  color: #363636;
}

.comments-client__title-comments,
.comments-client__title-clients {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 20px;
  color: black;
  position: relative;
  padding-left: 40px;
}

.comments-client__title-comments::before {
  content: "";
  background: url("../img/comments/icons/comments.svg") no-repeat;
  position: absolute;
  width: 24px;
  height: 23px;
  top: 0;
  left: 0;
}

.comments-client__title-clients::before {
  content: "";
  background: url("../img/comments/icons/logo-clients.svg") no-repeat;
  position: absolute;
  width: 24px;
  height: 20px;
  top: 0;
  left: 0;
}

.comments-client__text {
  margin-bottom: 35px;
}

.comments-client__name {
  font-weight: bold;
  font-style: italic;
}

.download__inner {
  padding: 35px 40px 37px 32px;
  background-color: #e8fcfe;
  border: 1px solid #81e4ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.download__text {
  font-size: 16px;
  line-height: 26px;
  color: #363636;
  max-width: 610px;
}

.download__btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  text-transform: uppercase;
  padding: 24px 20px 23px 73px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  max-height: 60px;
  border: 1px solid #2aacc8;
  border-radius: 8px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2aacc8), color-stop(15%, #60cede), color-stop(50%, #72dae6), to(#81e4ed));
  background-image: -o-linear-gradient(bottom, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%);
  background-image: linear-gradient(360deg, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%);
}

.download__btn::before {
  content: "";
  position: absolute;
  background: url("../img/comments/icons/download.svg") no-repeat;
  width: 28px;
  height: 25px;
  left: 20px;
}

.footer {
  color: #363636;
  background: #e8ebf1;
  font-size: 14px;
}

.footer__inner {
  padding: 35px 0px 45px;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 42px;
}

.footer__item-1 {
  max-width: 235px;
}

.footer__title {
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  font-size: 15px;
  line-height: 20px;
}

.footer__item-5 > .footer__title {
  padding-left: 8px;
}

.footer__text {
  padding-top: 26px;
}

.footer__item-2 {
  max-width: 75px;
}

.footer__list {
  padding-top: 16px;
}

.footer__list li + li {
  padding-top: 16px;
}

.footer__list a {
  color: #363636;
}

.footer__item-3 {
  max-width: 110px;
}

.footer__item-4 {
  max-width: 140px;
}

.footer__addres {
  padding-top: 20px;
}

.footer__addres span {
  font-weight: bold;
  display: block;
}

.footer__contacts {
  padding-top: 23px;
}

.footer__contacts a {
  color: #363636;
  display: block;
}

.footer__item-5 {
  max-width: 190px;
}

.footer__images {
  padding-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__images li {
  padding-top: 11px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright {
  max-width: 645px;
  font-size: 13px;
  line-height: 18px;
}

@media (min-width: 995px) {
  .header__list {
    display: block !important;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 995px) {
  .container {
    max-width: 750px;
  }

  .header__inner {
    position: relative;
  }

  .header__burger {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 30px;
    border: 1px solid black;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: black;
    left: 7px;
  }

  .header__burger::before {
    top: 7px;
  }

  .header__burger::after {
    bottom: 7px;
  }

  .header__burger span {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: black;
    top: 15.5px;
    left: 7px;
  }

  .header__list {
    display: none;
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background: #fff;
    border: 1px solid blue;
    z-index: 2;
  }

  .header__drop-down {
    padding: 0;
  }

  .drop-down > a::after {
    top: 14px;
  }

  .header__list li {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid blue;
  }

  .header__list > li + li {
    margin-left: 0px;
    padding-top: 10px;
  }

  .header__list > li:nth-child(3),
  .header__list > li:nth-child(4),
  .header__list > li:nth-child(5) {
    margin-left: 0px;
  }

  .drop-down__list {
    background: #ffebcd;
  }

  .header__drop-down:hover {
    border-top: 5px solid transparent;
  }

  .drop-down:hover .drop-down__list.active {
    display: block;
  }

  .drop-down:hover .drop-down__list {
    display: none;
  }

  .columns__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .columns__item {
    width: 50%;
    margin-bottom: 35px;
    max-width: none;
  }

  .columns__text {
    max-width: 300px;
  }

  .comments-client__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .comments-client__comments {
    width: 100%;
    max-width: none;
  }

  .comments-client__clients {
    margin-top: 25px;
  }

  .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__item-1 {
    max-width: none;
    margin-bottom: 20px;
    line-height: 18px;
  }

  .footer__item-5 {
    max-width: none;
    width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }

  .download__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .download__text {
    width: 100%;
    max-width: none;
  }

  .download__btn {
    margin-top: 25px;
  }

  .footer__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__logo {
    margin-top: 35px;
  }
}

@media (max-width: 650px) {
  .columns__item {
    width: 100%;
  }

  .columns__inner {
    margin: 0 auto;
  }

  .columns__text {
    max-width: none;
  }
}

@media (max-width: 520px) {
  .comments-client__img img {
    width: 100%;
  }

  .download__text {
    font-size: 14px;
  }

  .download__btn {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .footer__item-4 {
    max-width: none;
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }

  .footer__top {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .footer__title {
    text-align: center;
  }

  .footer__images {
    text-align: center;
  }

  .footer__images li {
    width: 33.33%;
  }
}

.webp .drop-down > a::after{ background: url(../img/Icons/down-arrow.webp) 0 0 no-repeat; }